.form-array-div {
  text-align: center;
  line-height: 6.5;
  justify-content: center;
  align-items: center;
}
.textarea {
  line-height: 1;
  width: 100%;
}
.submit-button {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-div {
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 6.5;
}
.image-div{
  justify-content: center;
  align-items: center;
  text-align: center;
}
mat-form-field {
  margin-left: 10px;
}
.matfield {
  width: 620px;
  line-height: 1;
}
