.stretched-tabs {
    min-width: 33vw;
  }
  
  .info{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;

    color: #00529B;
    background-color: #BDE5F8;
    
    }

    .heading{
      position: absolute;
      margin-left: -50px;
      margin-top: -20px;
    }