<div>
  <mat-tab-group>
    <mat-tab label="View Hotels">
      <ng-template matTabContent>
        <app-admin-edit-existing-hotel-component></app-admin-edit-existing-hotel-component>
      </ng-template>
    </mat-tab>
    <mat-tab label="Add New Hotel">
      <ng-template matTabContent>
      <app-admin-add-new-hotel-component></app-admin-add-new-hotel-component>
      </ng-template>
    </mat-tab>
    <mat-tab label="Edit Hotel">
      <ng-template matTabContent>
        <app-admin-edit-existing-hotel-component></app-admin-edit-existing-hotel-component>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

 

