.example-container {
    position: center;
    flex-direction: row;
   margin-top:0%;
   width: 35%;
    height: 30%;
    // align-self: auto;
    margin-right: 50%;
    margin-left: 30%;
       
}
.material-icons
{
height: 30%;
}

  .example-class
  {
    position: center;
    flex-direction: row;
   margin-top:0%;
   width: 35%;
    height: 40%;
    margin-right: 50%;
    margin-left: 30%;   
  }
  .container{
position: center;
  }