mat-grid-tile{
background: #000000;
}
mat-card {
    width: 100%;
    height: 100%;
    background: #7CA67C;
    text-align: center;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  