<h3>Details</h3><mat-list role="list">
    <mat-list-item role="listitem">
        <span style="margin-left:10px;width: 50%"><b>Day</b></span>
      <span style="margin-left:10px;width: 50%"><b>Activity</b></span>
    </mat-list-item>
    <mat-accordion multi="false" >
  <mat-expansion-panel *ngFor="let array of Array;let i=index">
    <mat-expansion-panel-header>
     
      <mat-panel-title style="width: 45%"><i class="material-icons">event</i>
        {{array.DayNumber}}
      </mat-panel-title>
      
      <mat-panel-title style="width: 45%"><i class="material-icons">beach_access</i>
        {{array.ActivityDetails}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list-item>
        <div><i class="material-icons">person_pin_circle</i><b>City </b>: {{array.City}}</div>
        <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
        <div><i class="material-icons">location_city</i><b>Hotel </b>: {{array.Hotel}}</div>&nbsp;<div><i class="material-icons">payment</i><b>Hotel Price </b>: {{array.RoomPrice}}</div>&nbsp;<div><i class="material-icons">location_city</i><b>Room Type </b>: {{array.RoomType}}</div>
        <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
        <div><i class="material-icons">directions_car</i><b>Transportation Provider</b>: {{array.TransportationProviderName}}</div>
        <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
        <div><i class="material-icons">directions_car</i><b>Transport Mode </b>: {{array.TransportationMode}}</div>&nbsp;<div><i class="material-icons">payment</i><b>Transport Price </b>: {{array.TransportationPrice}}</div>
        <mat-divider></mat-divider>
    </mat-list-item>
  </mat-expansion-panel>
  </mat-accordion>
  <div style="margin-left:400px"><button mat-raised-button matTooltip="Okay" color="accent" aria-label="Button that displays a tooltip when focused or hovered over" (click)="Okey()"> Okay</button></div>