<mat-vertical-stepper [linear]="true" #stepper style="text-align:center">
  <mat-step label="Recovery By Email" [stepControl]="registerForm">
    <form [formGroup]="registerForm">
      <mat-form-field>
        <input type="email" matInput pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9]+\.([a-zA-Z]{2,3}|[a-zA-z]{2,3}\.[a-zA-Z]{2,2})" formControlName="Email"
          placeholder="Enter your Email" required />
        <mat-error *ngIf="registerForm.get('Email').invalid && registerForm.get('Email').touched">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="SendId()" class="register" type="submit" [disabled]="!registerForm.valid">Validate</button>
    </form>
    <form>
      
      <div style="align-content: center">
        <div *ngIf="message"color="primary" selected><b>{{ValidUserMessage()}}</b></div>
      </div>
      
      <button mat-raised-button matStepperNext class="register" type="submit" [disabled]="!canNext">Next</button>
      &nbsp;<button mat-raised-button (click)="Close()">Cancel</button>
   
    </form>
    <form [formGroup]="registerForm">
      <!-- <button mat-raised-button (click)="Close()">Cancel</button> -->
    </form>
  </mat-step>
  <mat-step label="Email Confirmation" [stepControl]="validuser">
    <form [formGroup]="validuser">
      <button mat-raised-button (click)="Otp()">Send OTP</button>
      <br> <br>
      <mat-form-field>
        <input type="text" matInput pattern="[0-9]{5}" formControlName="Ottp" placeholder="Enter your OTP" required />
      </mat-form-field>

      <button mat-raised-button (click)="check()" style="margin-left:10px">Validate</button>
    </form>
    <form>
      <!-- [disabled]="!IsOtp" -->
      <button mat-raised-button matStepperNext class="register" type="submit" [disabled]="!IsOtp" >Next</button>
      <button mat-raised-button matStepperPrevious [disabled]="!check" style="margin-left:25px">Back</button>
    </form>
  </mat-step>
  <mat-step label="Reset Password" [stepControl]="PasswordForm">
    <form [formGroup]="PasswordForm">
      <mat-form-field>
        <input type="password" matInput formControlName="Password" pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@#$%^+=&]).*$"
          placeholder="Enter your Password" required />
        <mat-error *ngIf="PasswordForm.get('Password').invalid && PasswordForm.get('Password').touched">{{getErrorMessagePassword()}}</mat-error>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button matStepperNext (click)="NewPassword()" [disabled]="!PasswordForm.valid">Next</button>
    </form>
  </mat-step>
  <mat-step label="Done">
    Password Changed Successfully
    <br>
    <button mat-raised-button (click)="Close()" type="reset" style="margin-left:25px">Done</button>
  </mat-step>
</mat-vertical-stepper>